{% load static %}

<section class="hero" id="section_calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div id='calendar'></div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <img src="{% static 'img/bg.png' %}">
            </div>
            <div class="col-lg-2"></div>
        </div>
</section>