{% extends "base.html" %}

{% block header %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        var error = '{{ error }}';
        if (error){
            alert(error);
        }        
    });
</script>
{% endblock %}

{% block contents %}
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Mypage</h4>
                <form method="POST">
                    {% csrf_token %}
                    <br/><br/>
                    <div class="row">
                        <div class="col-lg-3 com-md-3"></div>
                        <div class="col-lg-6 col-md-6">
                            <div class="checkout__order">
                                <h4>Profile</h4>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="checkout__input">
                                                <p>name<span>*</span></p>
                                                <input type="text" name="name" value="{{ user.0.name }}">
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-5">
                                            <div class="checkout__input">
                                                <p>email<span>*</span></p>
                                                <input type="email" name="email" value="{{ user.0.email }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="checkout__input">
                                                <p>password</p>
                                                <input type="password" name="password">
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-5">
                                            <div class="checkout__input">
                                                <p>re-password</p>
                                                <input type="password" name="re-password">
                                            </div>
                                        </div>
                                    </div>
                                    
                                <button type="submit" class="site-btn">수정하기</button>
                            </div>
                        </div>
                        <div class="col-lg-3 com-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
 
{% endblock %}

    

    